body {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

h1 {
    font-size: 500%;
    font-family: whitney;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 42px;
    font-family: monospace;
    text-align: center;
}
