body {
    color: #b9bbbe;
    background-color: #2F3136;
    align-content: center;
    align-items: center;
}

h1 {
    font-size: 500%;
    font-family: whitney;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 42px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 10vh;
}
.wink {
    font-family: whitney;
    font-weight: 300;
    font-size: 16px;
    position: fixed;
    right: 5vw;
    top: 5vh;
    text-align: right;
}
#disc {
    position: relative;
    margin: 25px;

}