 .u-section-1 {
  min-height: 1612px;
}

.u-section-1 .u-group-1 {
  min-height: 1147px;
  background-image: none;
  animation-timing-function: linear;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 240px;
  min-height: 1147px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  width: 240px;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 8px 4px 18px;
}

.u-section-1 .u-text-1 {
  font-family: whitneymedium;
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 0.25px;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-4 {
  min-height: 44px;
  width: 240px;
  margin: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 1px 4px 1px 8px;
}

.u-section-1 .u-group-5 {
  min-height: 42px;
  width: 228px;
  transition-duration: 0.01s;
  margin: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 5px;
}

.u-section-1 .u-image-1 {
  width: 32px;
  height: 32px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-6 {
  min-height: 32px;
  width: 182px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-family: whitneymedium;
  font-size: 1rem;
  line-height: 1.1;
  margin: 1px 0 0;
}

.u-section-1 .u-text-3 {
  font-family: whitneymedium;
  font-size: 0.75rem;
  line-height: 1.05;
  margin: 0;
}

.u-section-1 .u-group-7 {
  min-height: 44px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 1px 4px 1px 8px;
}

.u-section-1 .u-group-8 {
  min-height: 42px;
  width: 228px;
  transition-duration: 0.01s;
  margin: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 5px;
}

.u-section-1 .u-image-2 {
  width: 32px;
  height: 32px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-9 {
  min-height: 32px;
  width: 182px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-family: whitneymedium;
  font-size: 1rem;
  line-height: 1.1;
  margin: 1px 0 0;
}

.u-section-1 .u-text-5 {
  font-family: whitneymedium;
  font-size: 0.75rem;
  line-height: 1.05;
  margin: 0;
}

.u-section-1 .u-group-10 {
  min-height: 44px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 1px 4px 1px 8px;
}

.u-section-1 .u-group-11 {
  min-height: 42px;
  width: 228px;
  transition-duration: 0.01s;
  margin: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 5px;
}

.u-section-1 .u-image-3 {
  width: 32px;
  height: 32px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-12 {
  min-height: 32px;
  width: 182px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-family: whitneymedium;
  font-size: 1rem;
  line-height: 1.1;
  margin: 1px 0 0;
}

.u-section-1 .u-text-7 {
  font-family: whitneymedium;
  font-size: 0.75rem;
  line-height: 1.05;
  margin: 0;
}

.u-section-1 .u-group-13 {
  min-height: 44px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-13 {
  padding: 1px 4px 1px 8px;
}

.u-section-1 .u-group-14 {
  min-height: 42px;
  width: 228px;
  transition-duration: 0.01s;
  margin: 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 5px;
}

.u-section-1 .u-image-4 {
  width: 32px;
  height: 32px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-15 {
  min-height: 32px;
  width: 182px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-container-layout-15 {
  padding-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-family: whitneymedium;
  font-size: 1rem;
  line-height: 1.1;
  margin: 1px 0 0;
}

.u-section-1 .u-text-9 {
  font-family: whitneymedium;
  font-size: 0.75rem;
  line-height: 1.05;
  margin: 0;
}

.u-section-1 .u-group-16 {
  min-height: 44px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-16 {
  padding: 1px 4px 1px 8px;
}

.u-section-1 .u-group-17 {
  min-height: 42px;
  width: 228px;
  transition-duration: 0.01s;
  margin: 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 5px;
}

.u-section-1 .u-image-5 {
  width: 32px;
  height: 32px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-18 {
  min-height: 32px;
  width: 182px;
  margin: -32px 0 0 auto;
}

.u-section-1 .u-container-layout-18 {
  padding-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-family: whitneymedium;
  font-size: 1rem;
  line-height: 1.1;
  margin: 1px 0 0;
}

.u-section-1 .u-text-11 {
  font-family: whitneymedium;
  font-size: 0.75rem;
  line-height: 1.05;
  margin: 0;
}

.u-section-1 .u-group-19 {
  width: 1000px;
  min-height: 1147px;
  height: auto;
  margin: -1147px 0 0 240px;
}

.u-section-1 .u-container-layout-19 {
  padding: 12px 24px 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 1135px;
  height: auto;
  margin: 0;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
  font-family: whitneymedium;
  font-size: 1rem;
  padding: 1px 8px;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
  font-family: whitneymedium;
  font-size: 1rem;
  padding: 1px 8px;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
  font-family: whitneymedium;
  font-size: 1rem;
  padding: 1px 8px;
}

.u-section-1 .u-container-layout-20 {
  padding: 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-3 {
    width: 190px;
  }

  .u-section-1 .u-group-4 {
    width: 190px;
  }

  .u-section-1 .u-group-5 {
    width: 178px;
  }

  .u-section-1 .u-group-6 {
    width: 168px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-8 {
    width: 178px;
  }

  .u-section-1 .u-group-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-11 {
    width: 178px;
  }

  .u-section-1 .u-group-12 {
    width: 168px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-13 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-14 {
    width: 178px;
  }

  .u-section-1 .u-group-15 {
    width: 168px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-16 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-17 {
    width: 178px;
  }

  .u-section-1 .u-group-18 {
    width: 168px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-19 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-19 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-1 .u-group-19 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-19 {
    width: 340px;
  }
}

.u-section-1 .u-group-5,
.u-section-1 .u-group-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-group-5:before {
  background-color: #34373c !important;
}

.u-section-1 .u-container-layout:hover .u-group-5 {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-container-layout.hover .u-section-1 .u-group-5 {
  border-radius: 10px !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-group-8,
.u-section-1 .u-group-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-group-8:before {
  background-color: #34373c !important;
}

.u-section-1 .u-container-layout:hover .u-group-8 {
  border-radius: 8px !important;
}

.u-container-layout.hover .u-section-1 .u-group-8 {
  border-radius: 8px !important;
}

.u-section-1 .u-group-11,
.u-section-1 .u-group-11:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-group-11:before {
  background-color: #34373c !important;
}

.u-section-1 .u-container-layout:hover .u-group-11 {
  border-radius: 8px !important;
}

.u-container-layout.hover .u-section-1 .u-group-11 {
  border-radius: 8px !important;
}

.u-section-1 .u-group-14,
.u-section-1 .u-group-14:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-group-14:before {
  background-color: #34373c !important;
}

.u-section-1 .u-container-layout:hover .u-group-14 {
  border-radius: 8px !important;
}

.u-container-layout.hover .u-section-1 .u-group-14 {
  border-radius: 8px !important;
}

.u-section-1 .u-group-17,
.u-section-1 .u-group-17:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-group-17:before {
  background-color: #34373c !important;
}

.u-section-1 .u-container-layout:hover .u-group-17 {
  border-radius: 8px !important;
}

.u-container-layout.hover .u-section-1 .u-group-17 {
  border-radius: 8px !important;
}.sidebar {
	max-width: 240px;
	min-width: 240px;
	margin: 0px !important;
}
.main-content {
	width: calc(100vw - 240px);
}
.logo {
	max-width: 240px;
	min-width: 240px;
}
.main-body {
	align-items: left;
}
.page-container {
	max-height: 44px !important;
}
.clickable {
	cursor: pointer;
	max-height: 42px !important;
}
.proj-btn-text-cont {
	max-height: 36px;
}
.tabs {
	height: 1.5rem;
}
.weather-container {
	max-width: 215px;
}@font-face {
  font-family: 'whitneymedium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/whitneymedium.otf);
}@font-face {
  font-family: 'whitneybook';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/whitneybook.otf);
}@font-face {
  font-family: 'whitneysemibold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/whitneysemibold.otf);
}