@font-face {
  font-family: Whitney;
  font-weight: 300;
  src: url(/assets/fonts/whitneylight.otf) format("opentype");
}
@font-face {
  font-family: Whitney;
  font-weight: 400;
  src: url(/assets/fonts/whitneybook.otf) format("opentype");
}
@font-face {
  font-family: Whitney;
  font-weight: 500;
  src: url(/assets/fonts/whitneymedium.otf) format("opentype");
}
@font-face {
  font-family: Whitney;
  font-weight: 600;
  src: url(/assets/fonts/whitneysemibold.otf) format("opentype");
}
@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(/assets/fonts/whitneybold.otf) format("opentype");
}
  body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
header {
  width: 100%;
  height: 50px;
  background-color: #292B2F;
}
main {
  width: 100%;
  height: calc(100vh - 150px);
  background-color: #36393F;
}
footer {
  width: 100%;
  height: 100px;
  bottom: 0px;
  background-color: #292B2F;
}
#main {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
}
#hlcon {
  position: fixed;
  top: 0;
  padding: 5px;
  height: 40px;
  width: auto;
}
#hrcon {
  padding: 5px;
  height: 50px;
  width: 80px;
}
#n3icon {
  padding: 0;
  height: 40px;
  width: auto;
}
#n3name {
  position: relative;
  top: 0;
  left: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  width: auto;
  font-weight: 600;
  color: #eee;
  font-size: 14px;
}
#n3tag {
  position: relative;
  top: 0;
  left: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  width: auto;
  font-weight: 500;
  color: #aaa;
  font-size: 12px;
}
#namecon {
  position: fixed;
  top: 0;
  left: calc(50px - (25px - 1.15em));
  width: 5em;
  height: 2.3em;
  padding: calc(25px - 1.15em);
}